@import url(http://fonts.googleapis.com/css?family=Lekton);

@media (min-width: @screen-lg-min) {
  .container {
    width: 1000px;
  }
}

body {
	font-family: 'Lekton', sans-serif;
	font-size: 18px;
	line-height: 1.6em;
	color: #52595C;
}
img {
	max-width: 100%;
	height: auto;
}
a:hover {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	font-weight: 700;
}
.btn {
	//font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1px;
	border-color: transparent;
}
.btn-dark {
	background-color: #111;
	color: #fff;
}
.btn-dark:hover {
	background-color: @brand-primary;
	color: #fff;
}
.btn-default:hover, .btn-primary:hover {
	background-color: #111;
	color: #fff;
	border-color: transparent;
}